@import 'main';

.header {
    background-color: transparent;
    color: var(--white);
    padding: 0.2rem 0;   
    position: absolute;
    z-index: 1;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 2rem;
}

.header-logo img {
    width: 100px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    display: flex;
    list-style: none;
    margin-left: 1.7rem;
    padding: 0;
}

.header-nav ul li {
    margin-right: 1rem;
    padding: .5rem;
}

.header-nav ul li:first-child {
    margin-left: 0;
}

.header-nav ul li a {
    color: var(--white);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 0;
    padding-bottom: 0.2rem;

    &:hover {
        color: var(--grey-500);
    }

}

.header-icons {
    display: flex;
    align-items: center;
    

    .dark-mode-icon {
        font-size: 1.3rem;
        color: var(--white);
        
    }

    .github-link {
        color: var(--white);
        font-size: 1.2rem;
        text-decoration: none;
        transition: color 0.3s ease;
        margin-left: 1.5rem;
        

        &:hover {
            color: var(--grey-500);
        }
    }

    .resume-link {
        @extend .github-link;
        font-size: 1rem;
        span {
            font-size: 1rem;
        }

        svg {
            margin-right: 0.5rem;

        }
    }
}